@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}
body {
  min-height: 100vh;
  font-family: "Kumbh Sans";
  font-size: 12px;
  background: rgb(175, 103, 233);
  background: -moz-linear-gradient(
    180deg,
    rgba(175, 103, 233, 1) 0%,
    rgba(101, 101, 231, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(175, 103, 233, 1) 0%,
    rgba(101, 101, 231, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(175, 103, 233, 1) 0%,
    rgba(101, 101, 231, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#af67e9",endColorstr="#6565e7",GradientType=1);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card {
  background-image: url(./images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  border-radius: 0.625rem;
  overflow: hidden;
  display: flex;
  min-width: 1000px;
  max-width: 1000px;
  padding: 2rem;
  padding-inline: 3rem;
}
.image-cube {
  width: 191px;
  height: 184px;
  background-image: url(./images/illustration-box-desktop.svg);
  top: 53%;
  left: 24.1%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 9999;
}

.left {
  align-self: center;
  display: block;
  position: relative;
  left: -15%;
  max-width: 100%;
}
.left img {
  width: 472px;
  height: 359px;
}
.right {
  margin-right: 2rem;
}
.right h1 {
  color: #201e36;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
}
.title h2 {
  color: hsl(240, 6%, 50%);
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}
.questions-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.questions-container :not(:first-child) {
  margin-top: 0.5rem;
}

.questions-container hr {
  border: none;
  border-top: 1px solid hsl(240, 5%, 91%);
  transition: all 2s;
}
.paragraph {
  display: none;
  overflow: hidden;
  color: hsl(240, 6%, 50%);
  font-size: 0.8rem;
  transition: all 0.3s;
}
.active,
.questions:hover {
  color: hsl(237, 12%, 33%);
  transition: all 0.3s;
}
.questions {
  min-width: 400px;
  max-width: 400px;
  transition: all 2s;
}
.title h2 {
  transition: 0.3s ease-out;
}
.title h2:hover {
  color: #ff9271;
  transition: 0.3s ease-in;
}
.questions.active:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .image-cube {
    top: 30%;
    left: 5%;
    width: 60%;
  }

  .left {
    align-self: auto;
    left: 0;
  }
  .left img {
    width: 50%;
  }
  .card {
    width: 600px;
    min-width: 600px;
  }
}
@media screen and (max-width: 1440px) {
  .image-cube {
    top: 52%;
    left: 15.5%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
}

@media screen and (max-width: 480px) {
  .image-cube {
    width: 198px;
    height: 150px;
    background-image: url(./images/illustration-woman-online-mobile.svg);
    background-repeat: no-repeat;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  body {
    font-size: 12px;
  }
  .card {
    flex-direction: column;
    border-radius: 1rem;
    background-image: url(./images/bg-pattern-mobile.svg);
    background-position: top;
    background-size: auto;
    width: 350px;
    min-width: 350px;
    height: 488px;
    padding-inline: 1.5rem;
    gap: 3rem;
  }
  .left {
    width: 0;
    visibility: hidden;
    align-self: auto;
    left: 0;
  }
  .left img {
    height: 0;
  }
  .right {
    margin-right: 0;
  }
  .right h1 {
    display: flex;
    justify-content: center;
  }
  .questions {
    min-width: 0;
    margin-bottom: 20px;
  }
  .title h2 {
    letter-spacing: 0;
  }
}
.attribution {
  color: #fff;
  margin-top: 1rem;
  font-size: 12px;
  text-align: center;
}
.attribution a {
  color: yellow;
}
